*.local
*tsconfig.tsbuildinfo*
.DS_Store
.eslintcache
Brewfile.lock.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/.next/
docs/public/playroom/

components/dist/
components/coverage/
components/src/components/icons/generated/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
